   /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        
        position: fixed;
        /* Stay in place */
        
        z-index: 100;
        /* Sit on top */
        
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        
        height: 100%;
        /* Full height */
        
        overflow: auto;
        /* Enable scroll if needed */
        
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content/Box */
    
    .modal-content {
        background-color: #fefefe;
        margin: 6% auto;      
        padding: 20px;
        border: 1px solid #888;
        width: 1200px;
       
        padding-left: 0px;
        padding-right: initial;
        border-radius: 3px;
     /* Could be more or less, depending on screen size */
    }
    /* The Close Button */
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }